In [1]:
%matplotlib inline
import matplotlib.pyplot as plt
from fastai.vision import *
from fastai.metrics import accuracy
from fastai.basic_data import *
from skimage.util import montage
import pandas as pd
from torch import optim
import re

from utils import *

In [2]:
df = pd.read_csv('../data/train.csv')
df.head()

           Image         Id
0  0000e88ab.jpg  w_f48451c
1  0001f9222.jpg  w_c3d896a
2  00029d126.jpg  w_20df2c5
3  00050a15a.jpg  new_whale
4  0005c1ef8.jpg  new_whale

In [3]:
im_count = df[df.Id != 'new_whale'].Id.value_counts()

In [4]:
im_count.name = 'sighting_count'

In [5]:
df.describe()

                Image         Id
count           25361      25361
unique          25361       5005
top     4cbf6162f.jpg  new_whale
freq                1       9664

In [6]:
df = df.join(im_count, on='Id')

In [7]:
df.describe()

       sighting_count
count    15697.000000
mean         9.910875
std         12.876116
min          1.000000
25%          2.000000
50%          5.000000
75%         12.000000
max         73.000000

In [9]:
df.head()

           Image         Id  sighting_count
0  0000e88ab.jpg  w_f48451c            14.0
1  0001f9222.jpg  w_c3d896a             4.0
2  00029d126.jpg  w_20df2c5             4.0
3  00050a15a.jpg  new_whale             NaN
4  0005c1ef8.jpg  new_whale             NaN

In [28]:
val_fns = set(df.sample(frac=1)[(df.Id != 'new_whale') & (df.sighting_count > 1)].groupby('Id').first().Image)

/home/ubuntu/anaconda3/envs/fastai/lib/python3.7/site-packages/ipykernel_launcher.py:1: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  """Entry point for launching an IPython kernel.

In [29]:
len(val_fns)

2931

In [31]:
pd.to_pickle(val_fns, '../data/val_fns.pkl')
val_fns = pd.read_pickle('../data/val_fns.pkl')

In [32]:
df

               Image         Id  sighting_count
0      0000e88ab.jpg  w_f48451c            14.0
1      0001f9222.jpg  w_c3d896a             4.0
2      00029d126.jpg  w_20df2c5             4.0
3      00050a15a.jpg  new_whale             NaN
4      0005c1ef8.jpg  new_whale             NaN
5      0006e997e.jpg  new_whale             NaN
6      000a6daec.jpg  w_dd88965            16.0
7      000f0f2bf.jpg  new_whale             NaN
8      0016b897a.jpg  w_64404ac             5.0
9      001c1ac5f.jpg  w_a6f9d33             2.0
10     001cae55b.jpg  w_581ba42            14.0
11     001d7450c.jpg  new_whale             NaN
12     00200e115.jpg  new_whale             NaN
13     00245a598.jpg  new_whale             NaN
14     002b4615d.jpg  new_whale             NaN
15     002f99f01.jpg  new_whale             NaN
16     00355ff28.jpg  w_cb622a2             5.0
17     00357e37a.jpg  w_d3b46e7             2.0
18     003795857.jpg  new_whale             NaN
19     0041880bf.jpg  new_whale             NaN
20     0043da555.jpg  new_whale             NaN
21     00442c882.jpg  w_8cad422             6.0
22     00464ff65.jpg  new_whale             NaN
23     004775679.jpg  w_13ae3d4             3.0
24     004ae9e26.jpg  new_whale             NaN
25     004c0f43b.jpg  new_whale             NaN
26     004e8ad5b.jpg  w_3de579a            54.0
27     004f87702.jpg  w_1d0830e            11.0
28     0050ef29d.jpg  w_2ba6978             2.0
29     00514c876.jpg  w_8dddbee             2.0
...              ...        ...             ...
25331  ff9c31f7d.jpg  w_e1ffbe2            23.0
25332  ff9ca801d.jpg  new_whale             NaN
25333  ffa18f942.jpg  new_whale             NaN
25334  ffa3d0d2e.jpg  w_772845b             2.0
25335  ffa5fa27e.jpg  w_420254e             4.0
25336  ffa695dbf.jpg  w_acbedef             5.0
25337  ffa9fc95d.jpg  w_107b98e             7.0
25338  ffaba39d4.jpg  w_17a108a             1.0
25339  ffad54783.jpg  w_f0fe284            45.0
25340  ffad62503.jpg  new_whale             NaN
25341  ffb9d76d2.jpg  new_whale             NaN
25342  ffbead2bd.jpg  new_whale             NaN
25343  ffc0dd0dc.jpg  w_4a28f21            13.0
25344  ffc7686c5.jpg  new_whale             NaN
25345  ffc946e11.jpg  new_whale             NaN
25346  ffca5cb22.jpg  w_51e7506            15.0
25347  ffcd5efdc.jpg  w_f765256            34.0
25348  ffd0f1e95.jpg  new_whale             NaN
25349  ffd19b7d0.jpg  new_whale             NaN
25350  ffd2144c5.jpg  new_whale             NaN
25351  ffd61cded.jpg  new_whale             NaN
25352  ffd7a6f5a.jpg  w_84c23bb             2.0
25353  ffdddcc0f.jpg  new_whale             NaN
25354  ffe52d320.jpg  w_bc285a6            21.0
25355  ffe7560cd.jpg  w_6d8b67b             2.0
25356  ffef89eed.jpg  w_9c506f6            62.0
25357  fff7faf61.jpg  w_9cf0388             7.0
25358  fff9002e0.jpg  w_bd1c3d5            12.0
25359  fffcde6fe.jpg  w_9f30885             1.0
25360  fffde072b.jpg  new_whale             NaN

[25361 rows x 3 columns]

In [35]:
fn2label = {row[1].Image: row[1].Id for row in df.iterrows()}

In [36]:
SZ = 224
BS = 64
NUM_WORKERS = 0
SEED=0

In [37]:
path2fn = lambda path: re.search('\w*\.jpg$', path).group(0)

In [38]:
df = df[df.Id != 'new_whale']

In [39]:
df.shape

(15697, 3)

In [40]:
df.sighting_count.max()

73.0

In [41]:
df_val = df[df.Image.isin(val_fns)]
df_train = df[~df.Image.isin(val_fns)]
df_train_with_val = df

In [42]:
df_val.shape, df_train.shape, df_train_with_val.shape

((2931, 3), (12766, 3), (15697, 3))

In [44]:
df_train.groupby('Id').head()

               Image         Id  sighting_count
0      0000e88ab.jpg  w_f48451c            14.0
1      0001f9222.jpg  w_c3d896a             4.0
6      000a6daec.jpg  w_dd88965            16.0
8      0016b897a.jpg  w_64404ac             5.0
9      001c1ac5f.jpg  w_a6f9d33             2.0
16     00355ff28.jpg  w_cb622a2             5.0
21     00442c882.jpg  w_8cad422             6.0
23     004775679.jpg  w_13ae3d4             3.0
26     004e8ad5b.jpg  w_3de579a            54.0
27     004f87702.jpg  w_1d0830e            11.0
28     0050ef29d.jpg  w_2ba6978             2.0
32     00570db6b.jpg  w_9c506f6            62.0
35     006017ddf.jpg  w_8a6a8d5            17.0
36     0060f764a.jpg  w_662530e             9.0
37     006500b3d.jpg  w_a8b34a0            16.0
39     0067b3a20.jpg  w_c0d11da            15.0
41     00713060e.jpg  w_50e8d58             7.0
44     007a7846f.jpg  w_9ad3551             4.0
45     007b62e05.jpg  w_cee684e             3.0
46     007f3eb46.jpg  w_41d24c6             7.0
48     0084fe40b.jpg  w_2e231f4             3.0
52     008bf89fc.jpg  w_6822dbc            36.0
53     008ebc50d.jpg  w_df86a42             4.0
54     00910010d.jpg  w_700ebb4            57.0
56     0093454b6.jpg  w_d892cd9             8.0
57     009431af0.jpg  w_7a4b2f9             2.0
58     009589b45.jpg  w_bc285a6            21.0
60     00961802f.jpg  w_c70fbcd             3.0
61     009687166.jpg  w_778e474            40.0
62     0096c8ff3.jpg  w_f3252ff             6.0
...              ...        ...             ...
25247  feb78b09e.jpg  w_df27de9             6.0
25249  febb18625.jpg  w_6568270             1.0
25250  febc8ee7c.jpg  w_a5b6ea7             5.0
25254  fed122d51.jpg  w_97ba78a             6.0
25255  fedbb173c.jpg  w_3a63e33             5.0
25256  fedbcb691.jpg  w_d15dd0b             3.0
25257  feddb3aa9.jpg  w_bda67e7             2.0
25261  fee74461e.jpg  w_314bc30             1.0
25269  ff01eff80.jpg  w_8103832             3.0
25271  ff0ee474f.jpg  w_8d4c9f7             4.0
25277  ff1674b13.jpg  w_2548d54             4.0
25279  ff1934a24.jpg  w_583aba1             2.0
25285  ff2f029e0.jpg  w_d0a7600             3.0
25289  ff31cf802.jpg  w_0f466a5             6.0
25291  ff35271c3.jpg  w_eae8af4             1.0
25294  ff3740c12.jpg  w_4d06559             2.0
25295  ff38442fa.jpg  w_3e18700             1.0
25297  ff39cd828.jpg  w_1a151e5             1.0
25301  ff4c780e2.jpg  w_2807565             1.0
25306  ff5e3f581.jpg  w_fe15413             6.0
25310  ff66e1a65.jpg  w_555dcb4             6.0
25311  ff690b354.jpg  w_bfae26b             2.0
25319  ff8532541.jpg  w_84308d6             3.0
25327  ff951984f.jpg  w_c98aaad             4.0
25335  ffa5fa27e.jpg  w_420254e             4.0
25336  ffa695dbf.jpg  w_acbedef             5.0
25338  ffaba39d4.jpg  w_17a108a             1.0
25352  ffd7a6f5a.jpg  w_84c23bb             2.0
25355  ffe7560cd.jpg  w_6d8b67b             2.0
25359  fffcde6fe.jpg  w_9f30885             1.0

[9166 rows x 3 columns]

In [49]:
for grp in df_train.groupby('Id'):
    print(grp)
    print(grp[1].)
    break

('w_0003639',                Image         Id  sighting_count
13008  833675975.jpg  w_0003639             1.0)
               Image         Id  sighting_count
13008  833675975.jpg  w_0003639             1.0

In [14]:
%%time

res = None
sample_to = 15

for grp in df_train.groupby('Id'):
    n = grp[1].shape[0]
    additional_rows = grp[1].sample(0 if sample_to < n  else sample_to - n, replace=True)
    rows = pd.concat((grp[1], additional_rows))
    
    if res is None: res = rows
    else: res = pd.concat((res, rows))

CPU times: user 18.6 s, sys: 14.1 ms, total: 18.6 s
Wall time: 18.6 s

In [15]:
%%time

res_with_val = None
sample_to = 15

for grp in df_train_with_val.groupby('Id'):
    n = grp[1].shape[0]
    additional_rows = grp[1].sample(0 if sample_to < n  else sample_to - n, replace=True)
    rows = pd.concat((grp[1], additional_rows))
    
    if res_with_val is None: res_with_val = rows
    else: res_with_val = pd.concat((res_with_val, rows))

CPU times: user 18.9 s, sys: 15.6 ms, total: 18.9 s
Wall time: 18.9 s

In [16]:
res.shape, res_with_val.shape

((76174, 3), (76287, 3))

In [17]:
pd.concat((res, df_val))[['Image', 'Id']].to_csv('../data/oversampled_train.csv', index=False)
res_with_val[['Image', 'Id']].to_csv('../data/oversampled_train_and_val.csv', index=False)